.Button-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  width: 380px;
  height: 56px;
  background: #fc762a;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
}

.Button-style:hover {
  background: #fc8643;
}

.Button-disabled {
  background: #efefef;
}
